@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@plugin "daisyui";

:root {
  /* Rich Black */
  --richblack-5: #F1F2FF;
  --richblack-25: #DBDDEA;
  --richblack-50: #C5C7D4;
  --richblack-100: #AFB2BF;
  --richblack-200: #999DAA;
  --richblack-300: #838894;
  --richblack-400: #6E727F;
  --richblack-500: #585D69;
  --richblack-600: #424854;
  --richblack-700: #2C333F;
  --richblack-800: #161D29;
  --richblack-900: #000814;
  /* Blue */
  --blue-20: #47A5C5;
  /* Rich Blue */
  --richblue-5: #ECF5FF;
  --richblue-25: #C6D6E1;
  --richblue-50: #A0B7C3;
  --richblue-100: #7A98A6;
  --richblue-200: #537988;
  --richblue-300: #2D5A6A;
  --richblue-400: #073B4C;
  --richblue-500: #063544;
  --richblue-600: #042E3B;
  --richblue-700: #032833;
  --richblue-800: #01212A;
  --richblue-900: #001B22;

  /* Caribbean Green */
  --caribbeangreen-5: #C1FFFD;
  --caribbeangreen-25: #83F1DE;
  --caribbeangreen-50: #44E4BF;
  --caribbeangreen-100: #06D6A0;
  --caribbeangreen-200: #05BF8E;
  --caribbeangreen-300: #05A77B;
  --caribbeangreen-400: #049069;
  --caribbeangreen-500: #037957;
  --caribbeangreen-600: #026144;
  --caribbeangreen-700: #014A32;
  --caribbeangreen-800: #01321F;
  --caribbeangreen-900: #001B0D;

  /* Brown */
  --brown-5: #FFF4C4;
  --brown-25: #FFE395;
  --brown-50: #FFD166;
  --brown-100: #E7BC5B;
  --brown-200: #CFA64F;
  --brown-300: #B89144;
  --brown-400: #A07C39;
  --brown-500: #88662D;
  --brown-600: #705122;
  --brown-700: #593C17;
  --brown-800: #41260B;
  --brown-900: #291100;

  /* Pink */
  --pink-5: #FFF1F1;
  --pink-25: #FBC7D1;
  --pink-50: #F79CB0;
  --pink-100: #F37290;
  --pink-200: #EF476F;
  --pink-300: #D43D63;
  --pink-400: #BA3356;
  --pink-500: #9F294A;
  --pink-600: #841E3E;
  --pink-700: #691432;
  --pink-800: #4F0A25;
  --pink-900: #340019;

  /* Yellow */
  --yellow-5: #FFF970;
  --yellow-25: #FFE83D;
  --yellow-50: #FFD60A;
  --yellow-100: #E7C009;
  --yellow-200: #CFAB08;
  --yellow-300: #B69507;
  --yellow-400: #9E8006;
  --yellow-500: #866A04;
  --yellow-600: #6E5503;
  --yellow-700: #553F02;
  --yellow-800: #3D2A01;
  --yellow-900: #251400;

  /* Pure Greys */
  --pure-greys-5: #F9F9F9;
  --pure-greys-25: #E2E2E2;
  --pure-greys-50: #CCCCCC;
  --pure-greys-100: #B5B5B5;
  --pure-greys-200: #9E9E9E;
  --pure-greys-300: #888888;
  --pure-greys-400: #717171;
  --pure-greys-500: #5B5B5B;
  --pure-greys-600: #444444;
  --pure-greys-700: #2D2D2D;
  --pure-greys-800: #171717;
  --pure-greys-900: #141414;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

}

.code-border {
    background: linear-gradient(111.93deg, rgba(14, 26, 45, .24) -1.4%, rgba(17, 30, 50, .38) 104.96%);
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right bottom, #ffffff38, #ffffff00);
}
.codeblock1 {
  background: linear-gradient(123.77deg, #8A2BE2 -6.46%, #FFA500 59.04%, #F8F8FF 124.53%);
}
.codeblock2 {
  background: linear-gradient(118.19deg, #1FA2FF -3.62%, #12D8FA 50.44%, #A6FFCB 104.51%);
}

.framebg {
  background-image: url('../public/assets/Images/bghome.svg');
}
.timelinegradBg, .firstBgGrid {
  background: linear-gradient(117.82deg, #9CECFB -9.12%, #65C7F7 48.59%, #0052D4 106.3%);
}
.yellowShadow{
  box-shadow: 12px 12px 0px 0px #FFD60A;
}
.dashedOne{
  border-top-color:  var(--richblack-50)  ;
}
.dashedOther{
  border-top-color:  var(--richblack-600) ;
}
.bgReview{
  background: linear-gradient(90deg, #000814 -42.71%, rgba(0, 8, 20, 0) 49.97%, #000814 142.64%);
}
.bgOrangeAbout{
  background: linear-gradient(118.41deg, #E65C00 -6.05%, #F9D423 106.11%);
}
.bgGridFound{
  background: linear-gradient(118.47deg, #EC008C -0.91%, #FC6767 104.91%);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

}

/* @layer base {
  * {
    @apply border-border outline-ring/50;

  }
  body {
    @apply bg-background text-foreground;

  }

} */

.arrow-left, .arrow-right{
  background-color: var(--richblack-600);
  padding: 4px;
  border-radius: 200px;
}